/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css?family=Michroma|Open+Sans&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

.App{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1fr;
  row-gap: 1.5vh;
  height: 100vh;
}

main{
  background-color: chartreuse;
}

footer{
  background-color: darkturquoise;
}